<h1>Are you sure you want to delete all players?</h1>

<br>

<a href="/players">no (return)</a>


<br><br>

<form action="/players/delete_all" method="post">
  <button type="submit">yes (delete all)</button>
</form>