<h1>Are you sure you want to delete all teams?</h1>

<h2>(You'll also be deleting every player appearing on that team!)</h2>


<br><br>

<a href="/teams">no take me back</a>

<br><br>

<form action="/teams/delete_all" method="post">
  <button type="submit">yes I'm sure!</button>
</form>