<h1>Pubs: Make it Official</h1>


<h3>Pubs brings ranked matchmaking to pickup basketball.</h3>


<h3>Two teams of three players face off in a live game.</h3>


<h3>The winning teams gains mmr. The losing team loses mmr.</h3>


<h3>MMR is weighted based on team strength.</h3>


<h3>If teams are evenly matched (average mmr differential < 50) each player stands to gain or lose 25 mmr pts.</h3>

<h3>If one team is much stronger (average mmr differential > 250) and wins, each player stands to gain 5 pts.
But if the weaker team wins, each player gains 50 pts! </h3>

<h3>Here's the breakdown: </h3>

<table>
  <tr>
    <th>mmr differential</th>
    <th>---gain/loss if stronger wins</th>
    <th>---gain/loss if weaker wins</th>
  </tr>

  <tr>
    <td> under 50</td>
    <td> +25/-25 </td>
    <td> +25/-25 </td>
  </tr>

  <tr>
    <td> between 50 and 150 </td>
    <td> +20/-20 </td>
    <td> +30/-30 </td>
  </tr>

  <tr>
    <td> between 150 and 250 </td>
    <td> +13/-13 </td>
    <td> +40/-40 </td>
  </tr>

  <tr> 
    <td> over 250 </td>
    <td> +5/-5 </td>
    <td> +50/-50 </td>
  </tr>

</table>

<h3>
  For example if the Mighty Ozarks (average MMR 1500) play the Ninja Yurtles (average MMR 1350)
  and the Mighty Ozarks win, each player on the Mighty Ozarks gains 20 pts while each player on the Ninja Yurtles
  loses 20 pts. If the Ninja Yurtles win each player on the Ninja Yurtles gains 30 pts, while each player on the
  Mighty Ozarks loses 30 pts.
</h3>

<h3>Winners and losers are reported manually. Points, rebounds, assists etc. are not recorded.</h3>

<h3>Games are 3 on 3. All 1s to 7 or 2s and 3s to 16.</h3>


<a href="/home">return</a>
