<h1>Pubs: Ratings for Pickup Basketball</h1>



<a href="/play">Play Game</a>

<br><br><br>

<a href="/players">Players</a>


<br><br><br>


<a href="/teams">Teams</a>

<br><br><br>


<a href="/explainer">How it works</a>

<br><br><br>

<form action="/signout" method="post">
  <button type="submit">sign out</button>
</form>



